body {
  background-color: black;
}

.container {
    width: 100%;
    margin: auto;
  }
  
  /* 작은 화면 (모바일) */
  @media (max-width: 600px) {
    .container {
      display: block;
      max-width: fit-content;
      padding: 0px;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .result {
      max-height: fit-content;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
  
  /* 중간 화면 (태블릿) */
  @media (min-width: 601px) and (max-width: 1024px) {
    .container {
      display: flex;
      max-width: fit-content;
    }

    .result {
      display: block;
      max-width: 45%;
    }
  }
  
  /* 큰 화면 (데스크탑) */
  @media (min-width: 1025px) {
    .container {
      display: flex;
    }
  }